<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://ota.client.weibo.cn/static/ios/com.weo.beeto/com.weo.beeto_Beeto_1.4.8_7.15_story_2021.07.15.11.21.33.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>http://ota.client.weibo.cn/static/ios/com.weo.beeto/icon2x.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>http://ota.client.weibo.cn/static/ios/com.weo.beeto/icon2x.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>title</key>
                <string>beeto</string>
                <key>bundle-version</key>
                <string>1.4.9</string>
                <key>kind</key>
                <string>software</string>
                <key>bundle-identifier</key>
                <string>com.weo.beeto</string>
            </dict>
        </dict>
    </array>
</array>
</plist>